.HJ_AllProperties {
    margin-top: 120px;
}

.HJ_ALLPropertyVilla {
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.HJ_AllProperties .HJ_Pagination {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;

}
.HJ_AllProperties .HJ_Pagination .HJ_Number{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    transition: all .3s;
    margin-left: 20px;
    cursor: pointer;
}

.HJ_AllProperties  .HJ_Pagination .HJ_Active{
    background-color:  #f35525;
}

@media screen and (max-width: 991px) {
    .HJ_ALLPropertyVilla .HJ_CategoryButton a{
        width: 100%;
        height: 41px;
        text-align: center;
        font-size:14px;
    }
    .HJ_ALLPropertyVilla{
        width:516px;
        text-align: center;
        height: 51px;
       margin-left: 40px;
    }


}
@media screen and (max-width: 576px) {
    .HJ_ALLPropertyVilla .HJ_CategoryButton a{
        width: 100%;
    }
    .HJ_ALLPropertyVilla{
        width:100%;
        text-align: center;
        height: 51px;
        margin-left: 0px;
        flex-wrap: wrap;
    }
}
