.HJ_BoxInfo{
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    width:293.5px;
}

.HJ_BoxInfo .HJ_ItemBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HJ_BoxInfo .HJ_ItemBox .HJ_ItemInfoo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.HJ_BoxInfo .HJ_ItemBox .HJ_ItemInfoo .HJ_TitleBox{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    color: #1e1e1e;
}

.HJ_BoxInfo .HJ_ItemBox .HJ_ItemInfoo .HJ_SubTitleBox{
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .HJ_BoxInfo .HJ_ItemBox .HJ_ItemInfoo .HJ_TitleBox{
        font-size: 23px;
    }
    
    .HJ_BoxInfo .HJ_ItemBox .HJ_ItemInfoo .HJ_SubTitleBox{
        font-size: 18px;
    }

} 