.HJ_Map{ 
    margin-bottom: 60px;

} 
.HJ_MapContact{
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    width: 641px;
    height: 507px;
   
}
.map-link{
    width: 641px;
    height: 507px;
}
